
<h4>Boards</h4>
<%@boards.each do |board| %>
    <%=check_box_tag "boards[]",board.id,false %><%=board.name %>
<% end %>

<h4>Degrees</h4>
<%@degrees.each do |degree| %>
    <%=check_box_tag "degree[]",degree.id,false %><%=degree.name %>
<% end %>