
<%=label_tag :course %>
<% if @courses.nil? %>
<% else %>
    <select id="course" name="course" onchange="generate_test(this)" required>
      <option value="">Select Course</option>

      <%@courses.each do |x| %>

          <option value="<%=x.id%>"><%=x.name%></option>
      <% end %>
    </select>

<%end %>

