  <table id="questions" style="margin-top: 10px !important;" class="table table-bordered" data-source="<%= questions_approval_questions_path(format: "json") %>">
    <thead>
      <th>Question Statement</th>
      <th>Action</th>
      <th>Status</th>
    </thead>
<tbody>

</tbody>


  </table>



<script type="text/javascript">
    $(document).ready(function() {
        $('#questions').dataTable( {
            sPaginationType: "full_numbers",
            "ordering": false,
            "processing": true,
            "serverSide": true,
            "displayLength": 25,
            aaSorting : [[0, 'desc']],
            sAjaxSource: $('#questions').data('source')
        } );
    } );
</script>
