

<br /><br />


<div id="ques_container" class=''>
    <%= render 'proofreader_ques' %>

</div>

</div>



<br />








<script>

    $(function() {
        $(document).on("click",".pagination a", function(){
            $.getScript(this.href);
            return false;
        });
    });

    function fetch_rows(value)
    {   if (value == -1)
    {   var limit = $("#no_rows").val();

        value = limit;
    }
         var search = encodeURIComponent($("#search_bar").val());
        $("#search_bar").val("");
        $.getScript('/questions/proofreader_questions?page=1&limit='+value+'&search='+search);

        return false;


    }

    $(document).keypress(function(e) {
        if(e.keyCode == 13 || e.which == 13) {
            e.preventDefault();
            fetch_rows(-1);
        }

    });

    function approve_question(id)
    {
        //d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/questions/approve_question?ques_id='+id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);

            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });

    }
    function get_questions_by_status(flag)
    {
        $.ajax({
            url:'/questions/get_questions_by_status?flag='+ flag,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#ques_container").html(data);

            },
            error:function (data) {
                alert ("Error Occurred");
            }
        });
    }

</script>