<div id="ques_container" class=''>
  <% if current_user.is_proofreader? %>
    <%= render 'proofreader_ques' %>
  <% elsif current_user.is_teacher? %>
      <%= render 'teacher_ques' %>
  <% elsif current_user.is_operator? %>
      <%= render 'operator_questions' %>
  <% end %>
</div>

</div>



<br />








<script>
    function approve_question(object, id)
    {
        var role = "";
        <% if current_user.is_proofreader? %>
            role = "proofreader";
        <% elsif current_user.is_teacher? %>
            role = "teacher";
        <% end %>
        $.ajax({
            url:'/questions/approve_question?ques_id='+id+"&role="+role,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                objectSiblings = $(object).parent().siblings();
                for (i = 0 ; i < objectSiblings.length; i++){
                    if (objectSiblings[i].innerHTML == "new")
                    {
                        objectSiblings[i].innerHTML  = "reviewed_by_proofreader";
                    }
                }
                $(object).text("Approved");
                $(object).contents().unwrap();


            },
            error:function (data) {
                alert ("Error Occurred");
                //    window.location.reload();
            }
        });

    }


</script>