<h1 class='title-edit-user'>Editing quiz</h1>
<div class="listing-holder listing-holder-edit-user">
    <%= render 'form' %>
</div>
<%= link_to 'Show', @quiz, :class=>'btn btn-inverse' %> |
<%= link_to 'Back', quizzes_path, :class=>'btn btn-inverse' %>
