<div class="wrapper page-heading white-bg border-bottom">
  <h2>Editing course_linking</h2>

</div>

<%= render 'form' %>

<%= link_to 'Back', "/course_linkings", remote: true, id: "course_linking_back" , class: 'btn btn-large btn-inverse' %>

<script>
  $('#edit_course_linking').on("ajax:success", function(e, data, status, xhr){
    $('#course_container').html(data);
  });

  $('#course_linking_back').on("ajax:success", function(e, data, status, xhr){
    $('#course_container').html(data);
  });
</script>
