<% if @courses.length == 0 && current_user.is_admin? %>
    <label>Select board and degree first</label>
<% elsif @courses.length == 0 && !current_user.is_admin? %>
    <label style="color:darkblue;font-size:18px"><strong>You are not registered with any course.</strong></label>
<% else %>
    <select id="course" name="course" onchange="selectCourse(this.value)">
      <option value="">select course</option>
      <% @courses.each do |course| %>
        <option value="<%= course.id%>"><%= course.name%></option>
      <% end %>
    </select>
<% end %>

<script>
    var $form = $('#create_test');
    var serializedData = $form.serialize();
    $("#course").change(function(){
      course_id = $('#course').val();
      $("#course_id").val(course_id);
      $.ajax({
        url:'/home_page/get_topic?course_id='+course_id,
        type:'post',
        data: serializedData,
        async:false,
        success:function (data) {
          $("#course_lists").html(data);
          if ($("#plan").val() == "false")
          {
            $('#descriptive').hide();
          }
          else
            $('#descriptive').show();
        },
        error:function (data) {
        }
      });
    });
</script>