<% if @courses.size == 0 %>
    <%=select_tag "course",options_for_select(['select board and degree first'].map{|course| [course,""]}),class: 'select' %>
<% else %>
    <select id="course" name="course" onchange="selectCourse(this.value)">
      <option value="">select course</option>
      <% @courses.each do |course| %>
        <option value="<%= course.id%>"><%= course.name%></option>
      <% end %>
    </select>
<% end %>
