<% if @courses.size == 0 %>
    <%=select_tag "course",options_for_select(['select board and degree first'].map{|course| [course,""]}),class: 'select' %>
<% else %>
    <select id="course" name="course" onchange="selectCourse(this.value)">
      <option value="">select course</option>
      <% @courses.each do |course| %>
        <option value="<%= course.id%>"><%= course.name%></option>
      <% end %>
    </select>
<% end %>
<div id ="course_lists">

</div>
<script>
    $("#course").change(function(){
    $this = $(this);
    course_id = $this.val();
    alert(course_id);
    $.ajax({
    url:'/home_page/get_topic?course_id='+course_id,
    type:'Post',
    dataType:'html',
    processData:false,
    success:function (data) {
    $("#course_lists").html(data);
    },
    error:function (data) {
    alert ('ERROR');
    //    window.location.reload();
    }
    });
    });
</script>