 <style type="text/css">
      ${demo.css}
  </style>

  <script type="text/javascript">
      $(function () {
          $('#container').highcharts({
              title: {
                  text: 'Its my chart',
                  x: -200 //define the position of title
              },
              subtitle: {
                  text: 'Source: Umair Mahmood',
                  x: -200
              },
              xAxis: {
                  title: {
                      text: 'Months (Umair)'
                  },
                  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec','Umr']
              },
              yAxis: {
                  title: {
                      text: 'Temperature (°C)'
                  },

                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
                  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec','Umr']
              },
              tooltip: {
                  valueSuffix: '°C',
                  valuePrefix: 'A-'
              },
              legend: { // right box to represent the lines and their names
                  layout: 'horizontal', // can be horizontal
                  align: 'center',
                  verticalAlign: 'bottom',
                  borderWidth: 1
              },
              series: [{
                  name: 'Maldeeves',
                  color: 'blue', // give the color attribute
                  data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6,8.7]
              }, {
                  name: 'New York',
                  data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5,8.7]
              }, {
                  name: 'Berlin',
                  data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0,8.7]
              }, {
                  name: 'London',
                  data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8,8.7]
              }]
          });
      });
  </script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
