
<table class="table table-condensed">
  <th>Serial no.</th>
  <th>Marks</th>
<% i=1 %>
  <% @tests.each do |test| %>
  <tr>
    <td><%=i %></td>
    <td><%=test.marks %></td>
    <td><%= link_to "Attempt", test_path(test.id)%></td>
    <td><a class="btn btn-small btn-info">Attempt</a></td>
    <% i=i+1 %>
  </tr>
  <% end %>

</table>
