
<!--
<section class="viual">
  <div class="visual_holder container">
    <div class="pull-left viual_left">
      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Student type</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>
        <ul class="tabs collapsed">
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
        </ul>
      </div>
      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Student type</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>
        <ul class="tabs">
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
        </ul>
      </div>
      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Student type</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>
        <ul class="tabs">
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
        </ul>
      </div>
    </div>
    <div class="pull-right viual_right">
      <div class="col">
        <div class="header_col">
          <p class="tabs_holde">Student type</p>
          <i class="arrow_right fa fa-caret-right"></i>
          <i class="arrow_down fa fa-caret-down"></i>
        </div>
        <ul class="tabs">
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
          <li class="odd">Student Name A</li>
          <li class="even">Student Name A</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="main_holder main_front container">
    <div class="box">
      <div class="box_header">
        <img src="assets/img1.jpg" alt="">
        <h2>Students</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="box">
      <div class="box_header">
        <img src="assets/img2.jpg" alt="">
        <h2>Educators</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <div class="box">
      <div class="box_header">
        <img src="assets/img3.jpg" alt="">
        <h2>Adminstrator</h2>
      </div>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</section>

-->

<h3>IN PROGRESS ... COMING SOON !!</h3>


<script>
    $(document).ready(function() {
              //  $('#course_container').hide();
            }
    );

    function generate_courses(degree_id)
    {

        document.getElementById("degree_hidden_id").value=degree_id.value;

        //alert (document.getElementById("degree_hidden_id").value);
        container = document.getElementById('course_container');
        $.ajax({
            url:'/home_page/get_courses?degree_id='+degree_id.value,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#course_container").html(data);
                $("#course_container").show();
                $("#test_container").hide();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }



    function generate_test(course)
    {
        d_id = document.getElementById("degree_hidden_id").value;
        //alert(d_id)
        //alert (degree_id.value);
        //container = document.getElementById('course_container');
        $.ajax({
            url:'/home_page/get_tests?course_id='+course.value+'&degree_id='+d_id,
            type:'get',
            dataType:'html',
            processData:false,
            success:function (data) {
                $("#test_container").html(data);
                $("#test_container").show();
            },
            error:function (data) {
                alert ('nae chalaa');
                //    window.location.reload();
            }
        });

    }


</script>