<div class="row">
  <div class="span3">
    <p class="text-center text-danger">Welcome Student !!!!!!</p>
    <%= link_to "sign out", sign_out_path,method: :delete %>
  </div>

  <div class="span7 offset1">
    
  </div>

</div>