<% if @varients.size == 0 %>
<% else %>
    <select id="varient" name="varient">
      <option value="">Variant</option>
      <% @varients.each do |variant| %>
          <option value="<%= variant %>"><%= variant %></option>
      <% end %>
    </select>
<% end %>

