<div class="abotus">
  <div class="aboutus_holder container">
    <h2>About Us</h2>
    <p>
      ELS aims to ease the problems faced by students and teachers through digital platforms.</p>
    <p> Founded in 2014, e-Learning Services (ELS) is developed and managed by a team of professional educators and entrepreneurs. The idea was conceived when, among many others, a physics teacher for O/A Level studies was fed-up by the traditional methods of assessing students. Exam development and then evaluation was a hideous task for him; when he wanted to devote more of his time to students. Thus, the idea to design a digital platform to cater this problem came across.</p>
    <p> Prolific meetings with technology experts further flourished the idea, and finally an initial website was created and launched in early 2015. The website was assessed and endorsed by many teachers, as it was a clear solution to their problem. Initially, the system was designed to accommodate the simple MCQ based questions. Later on, other testing techniques like fill in the blanks, true/false, descriptive/structured questions, etc. were also incorporated. Hence, making ELS a complete student assessment tool.</p>
    <p>The major edge ELS enjoys is the vast pool of questions it stores in its database – and that number is increasing day by day. Thus, students can always have new and more creative questions to solve. Usually a student is never presented a question which is already been attempted before by him, but even if it is repeated, it comes with different options. Teachers simply love this feature. At ELS, we are continuously striving to incorporate more and more creative methods for testing students.

    </p>
  </div>
</div>