<div class="modal_content pre_modal_content container">
  <div class="modal_left">
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_system"></i></div>
      <div class="modal_description">
        <h2>System requirements</h2>
        <p>Internet Explorer 8.0, Chrome 18.0, Firefox 11.0, or Safari 5.0 and above.</p>
      </div>
    </div>
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_syllabus"></i></div>
      <div class="modal_description">
        <h2>Test Syllabus</h2>
        <p>Database management techniques</p>
        <p>Variable types and value identification</p>
        <p>Syntax element identification and best practices</p>
      </div>
    </div>

  </div>
  <div class="modal_right">
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_length"></i></div>
      <div class="modal_description">
        <h2>Length and Duration</h2>
        <p>Test questions are adaptive. Most include about 10-20 questions, and take less than 10 minutes to complete.</p>
      </div>

    </div>
    <div class="box_modal modal_intro">
      <div class="modal_bg"><i class="m_test"></i></div>
      <div class="modal_description">
        <h2>Length and Duration</h2>
        <p>Test questions are adaptive. Most include about 10-20 questions, and take less than 10 minutes to complete.</p>
      </div>

    </div>
  </div>

</div>
<div class="modal_iframe_footer">
  <%= form_for "quiz", :url => {:controller => 'home_page', :action => 'quiz'},
               :html => {:id => "test_code_form",:onsubmit => "return check_sign_in();"} do |f| %>
  <input type="hidden" id="user_test_history_id" name="user_test_history_id" value="<%=@user_test_history_id%>" >
  <input type="hidden" id="test_code" name="test_code" value="<%=@test_code%>" >
  <button type="submit" class="modal_btn" href="#myModal">Take Test(its free)</button>

  <% end %>
</div>



<script>

    function create_user()
    {
        var flag = true;
        $.get("home_page/create_user_registration", $("form#registration_form").serialize(), function (response) {
            if (response.success) {
                return true;
            }
            else {
                $('#flash_message').html("fail");
                flag = false;
            }

        }, "json")
        return flag;
    }
    function sign_in()
    {
        var flag = true;
        $.post("sign_in_user", $("form#login_form").serialize(), function (response) {
            if (response.success) {
                flag = true;
            }
            else {
                $('#flash_message').html("Invalid email or password");
                flag = false;
            }

        }, "json")
        return flag;
    }
    function facebook_sign_in()
    {
        fb_url = "<%=user_omniauth_authorize_path(:facebook)%>?from=test";
        var flag = false;
        $.ajax({
            url: fb_url,
            type:'get',
            dataType:'json',
            processData:false,
            async: false,
            success:function (response) {
                if (response.success) {
                    flag = true;
                }
                else {
                    flag = false;
                    $('#myModal').modal('toggle');

                }

            },
            error:function (data) {
                flag = false;
            }
        });
        return flag;
    }
    function check_sign_in()
    {
        var flag = false;
        $.ajax({
            url:'/home_page/is_user_signed_in',
            type:'get',
            dataType:'json',
            processData:false,
            async: false,
            success:function (response) {
                if (response.success) {
                    flag = true;
                }
                else {
                    flag = false;
                    $('#myModal').modal('toggle');

                }

            },
            error:function (data) {
                flag = false;
            }
        });
        return flag;
    }
</script>
