
<div class="pricing">
  <div class="pricing_holder container">
    <div  class="container_holder_post">
      <div class="whole custom-whole">

        <div class="plan">
          <div class="content">
            <ul>
              <li>Number of Courses:</li>
              <li>Papers:</li>
              <li>Max Questions Allowed:</li>
              <li class="pre_auto_height">Result Type:</li>
              <li>Validity:</li>
              <li class="last">Add Other Courses:</li>
            </ul>
          </div>
        </div>
      </div>	<div class="whole">
      <div class="type">
        <p>Simple</p>
      </div>
      <div class="plan">

        <div class="header-post">
          <span>$</span>29<sup>99</sup>
          <p class="month">per month</p>
        </div>
        <div class="content">
          <ul>
            <li>15 Email Accounts</li>
            <li>100GB Space</li>
            <li>1 Domain Name</li>
            <li>500GB Bandwidth</li>
          </ul>

        </div>

        <div class="price">
          <a href="#" class="bottom"><p class="cart">Add to cart</p></a>
        </div>
      </div>
    </div>
      <div class="whole">
        <div class="type standard">
          <p>Standard</p>
        </div>
        <div class="plan">

          <div class="header-post">
            <span>$</span>49<sup>99</sup>
            <p class="month">per month</p>
          </div>
          <div class="content">
            <ul>
              <li>15 Email Accounts</li>
              <li>100GB Space</li>
              <li>1 Domain Name</li>
              <li>500GB Bandwidth</li>
            </ul>
          </div>
          <div class="price">
            <a href="#" class="bottom"><p class="cart">Add to cart</p></a>
          </div>
        </div>
      </div>

      <div class="whole ">
        <div class="type ultimate">
          <p>Ultimate</p>
        </div>
        <div class="plan">

          <div class="header-post">
            <span>$</span>79<sup>99</sup>
            <p class="month">per month</p>
          </div>
          <div class="content">
            <ul>
              <li>15 Email Accounts</li>
              <li>100GB Space</li>
              <li>1 Domain Name</li>
              <li>500GB Bandwidth</li>
            </ul>
          </div>
          <div class="price">
            <a href="#" class="bottom"><p class="cart">Add to cart</p<</a>
          </div>
        </div>
      </div>



      <!--
          <h2>Pricing</h2>
          <div class="price-chart">
            <div class="attr-col">
              <ul>
                <li>Number of Courses:</li>
                <li>Papers:</li>
                <li>Max Questions Allowed:</li>
                <li class="pre_auto_height">Result Type:</li>
                <li>Validity:</li>
                <li class="last">Add Other Courses:</li>
              </ul>
            </div>
          <div class="pt-table">
            <div class="pt-body">
              <ul class="pt-rows">
                <li class="title"><span>Simple</span><span>Standard</span><span>Ultimate</span></li>
                <li class="fees"><span>$20</span><span>$35</span><span>$50</span></li>
                <li><span>Any Single Course</span><span>Any Single Course</span><span>Any Single Course</span></li>
                <li><span class="pt-yes">P1</span><span class="pt-yes">P1, P2, P3, P4</span><span class="pt-yes">P1, P2, P3, P4</span></li>
                <li><span class="pt-no">2000 MCQs(40 Papers)</span><span class="pt-yes">3000 MCQs(75 Papers) 300 Other Structured Questions</span><span class="pt-yes">4000 MCQs
      (100 Papers) </span></li>
                <li><span class="pt-no">nstant Result after Test</span><span class="pt-no">Instant Results for MCQs. Detailed Solutions for Structured Questions with reviews and comments from an expert tutor through email. </span><span class="pt-no">Instant Results for MCQs. Written Comments plus Video Reviews by an expert tutor through email or skype.</span></li>
                <li><span class="pt-no">3 Months</span><span>3 Months </span><span>3 Months</span></li>
                <li><span class="pt-no">$10 per Course</span><span>$15 per Course </span><span>$20 per Course</span></li>
              </ul>
            </div>

          </div>
        </div>
          <em>*The prices $20/35/50 are for single courses. $10/15/20 respectively will be added for adding each extra course.
          <br/>*You can also try for free any course of your choice by clicking here.</em>
      -->
<!--
    <table class="pre_c_table">
      <thead>
        <tr>
          <th class="no_border"></th>
          <th>Simple</th>
          <th>Standard</th>
          <th>Ultimate</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no_border"></td>
            <td><span>$20</span></td>
            <td><span>$20</span></td>
            <td><span>$20</span></td>

        </tr>
        <tr>
          <td>Number of Courses:</td>
          <td>Papers:</td>
          <td>Max Questions Allowed:</td>
          <td>Result Type:</td>

        </tr>
        <tr>
          <td>Papers:</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
        </tr>
        <tr>
          <td>Max Questions Allowed:</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
        </tr>
        <tr>
          <td>Result Type:</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
        </tr>
        <tr>
          <td>Validity:</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
        </tr>
        <tr>
          <td>Add Other Courses:</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
          <td>Any Single Course</td>
        </tr>
      </tbody>
    </table>

-->
</div>

</div>


