
<div class="pricing">
  <div class="pricing_holder container">
    <div  class="container_holder_post">
      <div class="whole custom-whole">
        <div class="plan">
          <div class="content">
            <ul>
              <li>Number of Courses:</li>
              <li>Papers:</li>
              <li>Max Questions Allowed:</li>
              <li class="pre_auto_height">Result Type:</li>
              <li>Validity:</li>
              <li class="last">Add Other Courses:</li>
            </ul>
          </div>
        </div>
      </div>	<div class="whole">
      <div class="type">
        <p>Simple</p>
      </div>
      <div class="plan">

        <div class="header-post">
          <span>$</span>29<sup>99</sup>
          <p class="month">per month</p>
        </div>
        <div class="content">
          <ul>
            <li>15 Email Accounts</li>
            <li>100GB Space</li>
            <li>1 Domain Name</li>
            <li>500GB Bandwidth</li>
          </ul>
        </div>
        <div class="price">
          <a href="#" class="bottom"><p class="cart">Add to cart</p></a>
        </div>
      </div>
    </div>
      <div class="whole">
        <div class="type standard">
          <p>Standard</p>
        </div>
        <div class="plan">

          <div class="header-post">
            <span>$</span>49<sup>99</sup>
            <p class="month">per month</p>
          </div>
          <div class="content">
            <ul>
              <li>15 Email Accounts</li>
              <li>100GB Space</li>
              <li>1 Domain Name</li>
              <li>500GB Bandwidth</li>
            </ul>
          </div>
          <div class="price">
            <a href="#" class="bottom"><p class="cart">Add to cart</p></a>
          </div>
        </div>
      </div>

      <div class="whole ">
        <div class="type ultimate">
          <p>Ultimate</p>
        </div>
        <div class="plan">

          <div class="header-post">
            <span>$</span>79<sup>99</sup>
            <p class="month">per month</p>
          </div>
          <div class="content">
            <ul>
              <li>15 Email Accounts</li>
              <li>100GB Space</li>
              <li>1 Domain Name</li>
              <li>500GB Bandwidth</li>
            </ul>
          </div>
          <div class="price">
            <a href="#" class="bottom"><p class="cart">Add to cart</p></a>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

