<% $arr = @questions %>
<div id="quiz_container" class="modal_content question_section_modal">

  <%= render 'quiz_ques' %>


</div>
<div class="modal_iframe_footer">
  <a class="modal_btn" href="modal_pages.html">Back</a>
</div>


<script>

  function next_question(foo1,foo2,foo3){

      if(foo2 == 1) {

          str = '.option_question:not(#' + foo3 + ')';
          $(str).addClass('wrong_answer selected');
          $("#"+foo3).addClass('correct_answer');

          $( ".option_question" ).click(function() {
              alert( "Error !!!!!" );
          });
      }
      else{
          $("#"+foo3).addClass('wrong_answer selected');
          $( ".option_question" ).click(function() {
              alert( "Error !!!!!" );
          });

      }

      setTimeout(function() {
          alert('next question');
          next_quiz();
      }, 1000);




  }


        function next_quiz(){

            $.ajax({
                url:'/home_page/next_ques?index='+<%=@index%>,
                type:'get',
                dataType:'html',
                processData:false,
                success:function (data) {
                    $("#quiz_container").html(data);

                },
                error:function (data) {
                    alert ('nae chalaa');
                    //    window.location.reload();
                }
            });
        }
</script>