<% if current_user.is_active %>
  <%= render 'uform' %>
<% else %>
    <br>
    <div id="error" class="alert alert-danger" style="display: inline">
      <strong>Your payment is still pending.</strong>
    </div>
    <br><br><br><br><br><br>
<% end %>

<!--<div class="field">-->
  <!--<select id="course" name="course" required>-->
    <!--<option value="">Select Course</option>-->

    <!--<%# @courses.each do |course| %>-->
        <!--<%# if !@course.nil? && course.id == @course.id %>-->
            <!--<option selected value="<%#=course.id%>"><%#=course.name%></option>-->
        <!--<%# elsif params[:course_id].present? %>-->
            <!--<%# if course.id.to_s == params[:course_id] %>-->
                <!--<option value="<%#=course.id %>" selected><%#=course.name%></option>-->
            <!--<%# end %>-->
        <!--<%# else %>-->
            <!--<option value="<%#=course.id%>"><%#=course.name%></option>-->
        <!--<%# end %>-->
    <!--<%# end %>-->
  <!--</select>-->
<!--</div>-->
<!--<div id = "course_list">-->

<!--</div>-->
