<h1>Listing topics</h1>
<div class="listing-holder listing_data_table">

  <table id = "all_topics" class="table table-condensed" data-source="<%= topics_url(format: "json") %>">
    <thead>
    <tr>
      <!--<th>ID</th>-->
      <th>Name</th>
      <th>Parent Topic</th>
      <th>Course</th>
      <!--<th></th>-->
      <!--<th></th>-->
    </tr>
    </thead>

    <tbody>



    </tbody>

  </table>

  <%#= will_paginate @topics %>


</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if can? :manage, Topic %>
    <%= link_to 'New Topic', new_topic_path ,:class=> 'btn btn-inverse'%>
<% end %>

<script type="text/javascript">

    $(document).ready(function() {
//        $('.table').dataTable();
    });
//
//    $('.table').dataTable({
//        "bServerSide": true,
//        "sEcho": 3,
//        "iTotalRecords": totalRecs,
//        "iTotalDisplayRecords": 15,
//        "aaData": tableData,
//        "aoColumns": tableColumns,
//        "aaSorting": [[1,'asc']]
//    });
</script>

