<h1>Listing topics</h1>
<div class="listing-holder">

<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.name %></td>

    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


</div>
<%= link_to 'New Topic', new_topic_path ,class: 'btn btn-inverse'%>
