<% if @errors.present? && @errors.any? %>
    <div id="error_explanation">
      <a href="#" id = "close_x" class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @errors.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
