<header class="header">
  <div class="header_holder container">
    <div class="header_left pull_left">
      <h1 class="logo">
        <a href="/"><%= image_tag 'logo.png'%></a>
      </h1>
      <nav class="nav">
        <ul>
          <li><a  class="active" href="/">Home</a></li>
          <li><a href="#">Online Tesing</a></li>
          <li><a href="#">Test Center</a></li>
          <li><a href="#">Condidate Portal</a></li>
          <li><a href="#">Contact</a></li>
          <% if user_signed_in? %>
              <li class="dropdown"><a href="user/my_profile">My Account</a>
              <ul class="sub_menu"><li>
                <% if user_signed_in? %>
                    <%= link_to "sign out", "/sign_out" ,method: :delete, :class => 'navbar-link' %>
                <% else %>
                    <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
                <% end %>
              </li>
               <% if user_signed_in? && current_user.is_not_student? %>
              <li><%= link_to "Admin Panel", "/admin_panel", :class => 'navbar-link' %></li>
                    <% end %>
              </ul>
              </li>
              <% else %>
              <li><a href="users/sign_in">Login</a></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="pull_right header_right">

      <ul class="social_media">
        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter"  href="#"><i class="fa fa-tumblr"></i></a></li>
        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="youtube"  href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
      <form>
        <fieldset>
          <input type="text" class="text" placeholder="search">
          <button type="submit" class="btn_s"><i class="fa fa-search"></i></button>
        </fieldset>
      </form>
    </div>
  </div>
</header>
