<h1>Listing degrees</h1>
<div class="listing-holder">
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @degrees.each do |degree| %>
  <tr>
    <td><%= degree.name %></td>

    <td><%= link_to 'Edit', edit_degree_path(degree) %></td>
    <td><%= link_to 'Delete', degree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>


<%= link_to 'New Degree', new_degree_path , class: 'btn btn-large btn-inverse'%>
