<div class="field">
  <div id="payment_method">
    Payment Method
    <table>
      <tbody>
      <tr>
        <td><input  type="radio" name="payment_method" value="1"></td>
        <td>Credit/Debit Card</td>
      </tr>
      <tr>
        <td><input type="radio" name="payment_method" value="2"></td>
        <td>Other</td>
      </tr>
      </tbody>
    </table>

    <br>

    <div id="card" style="display:none">
      <form action="/user/purchase" data-remote="true" id="purchase">
        <div class="field">
          <label>Card Number</label>
          <input type="text" name="card_number"><br>
        </div>
        <div class="field">
          <label>Expiration month</label>
          <input type="text" name="month"><br>
          <label>Expiration year</label>
          <input type="text" name="year"><br>
        </div>
        <div class="field">
          <label>Cvv2</label>
          <input type="text" name="cvv2"><br>
        </div>
        <button type="submit">Finish Payment</button>
      </form>
    </div>

    <div id="other" style="display:none">
      Please contact over WhatsApp/SMS/WeChat on the number: +92 30 44 58 18 98 to get to know about other payment methods.
    </div>

  </div>
</div>

<script>
  $('input[type="radio"][name="payment_method"]').change(function(){
    if(this.value == "1")
    {
      $('#other').hide();
      $('#card').show();
    }
    else
    {
      $('#card').hide();
      $('#other').show();
    }
  });

  $('#purchase').on('ajax:success', function(e, data, status, xhr){
    alert("Thank you for registering with E-Learning Services.");
    $('#add_course').hide();
    location.reload();
  })
</script>