<div class="field" id="fetch">
  <form action="/user/buy" data-remote="true" id="asd">
    <div>
      Please choose your package.
      you can see the package details below..
    </div>
    <div>
      <%= @course.name %><br>
      <input type="radio" name="plan" value="1">Free<br>
      <input type="radio" name="plan" value="2">Value<br>
      <input type="radio" name="plan" value="3">Complete<br>

      <br>
      <button type="submit" class="btn btn-primary">Buy</button>
    </div>

  </form>
</div>

<script>
  $('#asd').on('ajax:success', function(e, data, status, xhr){
    $('#purchase_container').html(data);
    $('#fetch').hide();
  })
</script>

