<div class="user_profile_holder">
    <div class="container">
      <h1>User Profile Page</h1>
      <div class="user_profile_left">
        <ul class="u_left_holder">
          <li><a class="avtar" href="#"><img src="/assets/ryan1.jpg" alt=""> </a> </li>
          <li><a  href="#">
            <i class="fa fa_icon fa-tachometer"></i>
            Dashboard </a> </li>
          <li><a  href="#">
            <i class="fa fa_icon fa-users"></i>

            Profile</a> </li>

        </ul>
      </div>
        <div class="user_profile_right">

            <ul class="user_profile_nav">
              <li>
                <a href="#">Profile
                  <span class="menu_active">
                    <i class="fa fa-caret-up"></i>
                </span>
                </a>
              </li>
            </ul>
          <ul class="u_right_holder">
            <li>
              <h3>Name</h3>
              <span>farhat baig</span>
              <a href="#">Edit</a>
            </li>
            <li>
              <h3>User Name</h3>
              <span>farhat baig</span>
              <a href="#">Edit</a>
            </li>
            <li>
              <h3>Name</h3>
              <span>farhat baig</span>
              <a href="#">Edit</a>
            </li>
            <li>
              <h3>Name</h3>
              <span>farhat baig</span>
              <a href="#">Edit</a>
            </li>
            <li>
              <h3>Name</h3>
              <span>farhat baig</span>
              <a href="#">Edit</a>
            </li>
          </ul>
        </div>
    </div>
</div>