<h1>Listing boards</h1>

<div class="listing-holder">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @boards.each do |board| %>
        <tr>
          <td><%= board.name %></td>
          <% if can? :manage, board %>
              <td><%= link_to 'Edit', edit_board_path(board) %></td>
          <% else %>
              <td></td>
          <% end %>
          <% if can? :manage, board %>
              <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
              <td></td>
          <% end %>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if can? :manage, Board %>
    <%= link_to 'New Board', new_board_path, :class=> 'btn btn-large btn-inverse' %>
<% end %>
