<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @board.name %>
</p>


<%= link_to 'Edit', edit_board_path(@board), class: 'btn btn-large btn-info' %> |
<%= link_to 'Back', boards_path , class: 'btn btn-large btn-inverse'%>
