<h1 class="title-edit-user">Editing role</h1>
<div class="listing-holder listing-holder-edit-user">
    <%= render 'form' %>
</div>
<%= link_to 'Show', @role, :class=>'btn btn-inverse' %> |
<%= link_to 'Back', roles_path, :class=>'btn btn-inverse' %>
