<div class="row page-heading border-bottom white-bg">
  <%= link_to "Manage Users", user_path, class: "btn btn-inverse" %>
  <%= link_to "Manage Roles", roles_path, class: "btn btn-inverse" %>

</div>

<div class="row wrapper wrapper-content">
<%= render 'form' %>
</div>
<div class="row wrapper wrapper-content">
  <%= link_to 'Back', roles_path, :class=>'btn  btn-inverse' %>
</div>

