<%= link_to "Manage Users", user_path, class: "btn btn-primary" %> |
<%= link_to "Manage Roles", roles_path, class: "btn btn-primary" %>

<h1>New role</h1>

<%= render 'form' %>

<%= link_to 'Back', roles_path, :class=>'btn  btn-inverse' %>
