<ul>
<%@courses.each do |x| %>
    <% unless @user.present? %>
        <li><%= check_box_tag "course_#{@degree_id.to_s}[]", x.id,false %><span><%=x.name %></span></li>
    <% else %>
        <li><%= check_box_tag "course_#{@degree_id.to_s}[]", x.id,!@teacher_courses.nil? && @teacher_courses.any? { |b| b[:course_id] == x.id && b[:degree_id] == @degree_id } %><span><%=x.name %></span></li>
    <% end %>

<% end %>
</ul>