<%=label_tag :course %>
<select id="course" class="row_field" name="course" required="true" >
  <option value="">Please select a course</option>
  <%@courses.each do |x| %>
      <option value="<%=x.id%>"><%=x.name%></option>
  <% end %>
</select>
