<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>


<%= link_to 'Edit', edit_course_path(@course) , class: 'btn btn-large btn-inverse'%> |
<%= link_to 'Back', courses_path , class: 'btn btn-large btn-inverse'%>
