<div class="course_tabs">
  <span><%=get_course_name_tab(@course_linking.course_3) %></span>
</div>

<div class="course_tabs">
  <span><%=get_course_name_tab(@course_linking.course_2) %></span>
</div>

<div class="course_tabs">
  <span><%=get_course_name_tab(@course_linking.course_1) %></span>
</div>

<div class="course_tabs">
  <span><%=get_course_name_tab(@course_linking.course_4) %></span>
</div>