<%= link_to "Manage Topics", "/topics", class: "btn btn-primary" %> |
<%= link_to "Topic Linkings", "/topic_linkings", class: "btn btn-primary" %>

<div class="row listing-holder listing-holder-p">
  <div class="course_link_cont">
    <h1>Editing topic_linking</h1>


    <%= render 'form' %>
  </div>
</div>
