/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require style
 *= require simple-sidebar
 *= require font-awesome
 *= require dataTables/jquery.dataTables
 *= require responsive
 *= require select
 *= require bootstrapnew.css
 *= require_self
*= require_tree .
 */



input[type=text],
input[type=email],
input[type=password]{
    height: 40px;

}

select{
    height: 40px;
}

.main_holder{ margin: 50px 0 0; }

table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 2px solid #f8f8f8; }
table tr th{
    color: #a0a8af;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 38px !important;
}
table td tr{ height: 40px;}
.header .navbar{ background: #fff; padding: 4px 22px 4px 0;}
#page-content-wrapper .listing-holder{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 30px 0 ;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-height: 200px;

}
#page-content-wrapper h1{
    padding: 0 28px 0 0;
    text-transform: capitalize;
    font-size: 24px;
    color: #676a6c;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 8px 20px;
}
.table tr td{
    padding-top: 15px !important;
    color: #555f68;
    font-size: 13px;
}

.table tr td a { color: #2bc5da;}
.table tr td a:hover{ background: #fff;}
.listing-holder .new_test,
.listing-holder .new_book,
.listing-holder .new_user{
    padding: 20px 40px;

}
.listing-holder .new_book .field{
    display: inline-block;
    width: 32%;
    vertical-align: top;
    margin-bottom: 10px;

}
.listing-holder .new_book .field select{ width: 97%;}
.listing-holder .new_test .field label{ display: block;}
.listing-holder .new_test .field{ display: inline-block; width: 45%;}
.field .row_field{
    padding: 5px;
    width: 255px;
    height: 40px;

}
.listing-holder  h2{ padding: 20px 40px;}
.listing-holder .new_book .actions .btn,
.listing-holder .new_book .actions .btn:hover,
.listing-holder .new_user .actions .btn:hover{ background:#4aa1db; color: #fff;}
.listing-holder  li{ list-style: none;}
.listing-holder.questions{ padding: 20px;}
#test_container {
    margin: 0 10px;
}
#test_container  select{ margin: 0 20px;}
#page-content-wrapper .field_holder {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 31%;
    margin: 0 15px 15px 0;
}
#page-content-wrapper .field_holder label,
#page-content-wrapper .field_holder img{
    display: block;
    padding-bottom: 5px;
}
#page-content-wrapper .btn_holder{
    display: block;
    text-align: center;
    margin-top: 20px;
}
#page-content-wrapper .stat_holder{
    display: block;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;

}
#page-content-wrapper .option_holder{
    overflow: hidden;}

.th_table { padding:8px 20px !important; }
input[type="checkbox"]#boards_ {
    vertical-align: top;
    margin:2px 5px 0;
}

input[type="checkbox"]#degree_ {
    vertical-align: top;
    margin:2px 5px 0;
}

.tabs.collapsed {
    list-style: outside none none;
}
label {
    display: block;
    margin-bottom: 5px;
}
h4 {
    font-size: 17.5px;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}
h4 {
    font-size: 1.625rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    line-height: 1.15538em;
    padding-bottom: 0.273em;
    padding-top: 0.273em;
}
input#degree_[type="checkbox"] {
    margin: 2px 5px 0;
    vertical-align: top;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: -1px 4px 0 0;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
input, textarea, .uneditable-input {
    margin-left: 0;
}
.ques_inner_bar_left #search_bar {
    height: 36px;
    margin: 0;
    padding: 8px;
    width: 258px;
}
.table-bordered {
    border-collapse: separate;
    border-image: none;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.table-bordered thead:last-child tr:last-child > th:first-child, .table-bordered tbody:last-child tr:last-child > td:first-child, .table-bordered tbody:last-child tr:last-child > th:first-child, .table-bordered tfoot:last-child tr:last-child > td:first-child, .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border-bottom-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0 none;
}
.ques_inner_bar_right {
    float: right;
    overflow: hidden;
    width: 455px;
}
.ques_inner_bar_right .select_div {
    display: inline-block;
    float: right;
}
.ques_inner_bar_right .select_div #no_rows {
    height: 30px;
    margin: 6px 0 0;
    width: 88px;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.span5 {
    width: 380px;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}

.offset1 {
    margin-left: 100px;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row::after {
    clear: both;
}
.row::before, .row::after {
    content: "";
    display: table;
    line-height: 0;
}
.row {
    margin-left: -20px;
}
input#degree_[type="checkbox"],
input#boards_[type="checkbox"]{ margin-top: 5px;}
.listing-holder-p{ padding-top: 20px; padding-bottom: 20px;}
.table.table-bordered img{ max-width: 400px; height:auto;}