// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination{ display: block !important;}
.pagination {
  .previous_page { color:#777 }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: #000; color: #fff; }
  .next_page.disabled { background: white; color: #777 }
}
.pagination {
  a  {
  border: 1px solid #ccc;
  margin: 0 -3px;
  padding: 5px 5px;
  color: #777;
  text-align: center;
}
  span  {
    border: 1px solid #ccc;
    color: #777;
    margin: 0 -3px;
    padding: 5px 10px;
    text-align: center;
  }
  em  {
    border: 1px solid #ccc;
    margin: 0 -3px;
    color: #777;
    padding: 5px 10px;
    text-align: center;
  }
}

.ques_inner_bar_left {
  display: inline-block;
  float: left;
  width: 344px;
}

.ques_inner_bar_right {
  float: right;
  overflow: hidden;
  width: 255px;
}

.ques_inner_bar_right .select_div{
  display: inline-block;
  float: right;
}

.ques_inner_bar_right .select_div #no_rows {
  height: 30px;
  margin: 6px 0 0;
  width: 88px;
}
#ques_container #ques_bar:after{
  clear: both;
  display: block;
  content: '';

}
.ques_inner_bar_left #search_bar {
  height: 36px;
  padding: 8px;
  width: 258px;
  margin: 0;

}