<div class="row wrapper page-heading border-bottom white-bg">
    <%= link_to "Payments", "home_page/payments", class: "btn btn-inverse" %>
    <%= link_to "Manage Membership Plans", membership_plans_path, class: "btn btn-inverse" %>
</div>

<!--<h1 class="title-edit-user" style="margin-top: 20px">Editing membership plan</h1>-->
<div class="listing-holder listing-holder-edit-user">
    <%= render 'form' %>
</div>
<div class="row wrapper wrapper-content">
  <%= link_to 'Back', membership_plans_path, :class=>'btn btn-inverse' %>

</div>
