<div class="row wrapper page-heading border-bottom white-bg">
  <%= link_to "Payments", "home_page/payments", class: "btn btn-inverse" %>
  <%= link_to "Manage Membership Plans", membership_plans_path, class: "btn btn-inverse" %>

</div>
<div class="row wrapper wrapper-content ">

  <%= render 'form' %>

</div>

<div class="row wrapper-content wrapper">
<%= link_to 'Back', membership_plans_path, :class=>'btn btn-inverse' %>
</div>
