<%= link_to "Payments", "home_page/payments", class: "btn btn-primary" %> |
<%= link_to "Manage Membership Plans", membership_plans_path, class: "btn btn-primary" %>

<h1 style="margin-top: 20px">New membership plan</h1>

<%= render 'form' %>

<%= link_to 'Back', membership_plans_path, :class=>'btn btn-inverse' %>
