<!--<li>-->
  <%#= link_to "Manage Boards", boards_path %>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Degrees", degrees_path %>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Courses", courses_path%>
<!--</li>-->

<!--<li>-->
  <%#= link_to "Manage Topics", topics_path %>
<!--</li>-->

<li>
  <%= link_to "Add Questions", questions_path %>
</li>

<li>
  <%= link_to "Manage Questions (#{question_count_operator})", questions_approval_questions_path %>
</li>

<li>
  <%# if current_user.email %>
  <%= link_to "Rejected Questions (#{question_count_operator_rejected})", rejected_questions_questions_path %>
  <%#= link_to current_user.role, questions_approval_questions_path %>
</li>